node_modules/*
.vscode/*
.eslintignore
.eslintrc.json
logs
results
npm-debug.log
.idea
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
yarn-error.log
.awcache
vendor/vendor.js
vendor/vendor.map
vendor/vendor-manifest.json
